{include file="start/include/header" title="第4关" /}

<body ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false">
    <div class="app">
        <h1 class="title">第4关</h1>
        <p class="message">继续？</p>
        <div class="content">
            →<a href="five.html"></a>←
        </div>
    </div>
</body>
<script src="{$Think.MY_ROOT_URL}/public/static/hackgame/start/hg/four.js"></script>

{include file="start/include/footer" /}